@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .custom-autofill:-webkit-autofill,
    .custom-autofill:-webkit-autofill:hover,
    .custom-autofill:-webkit-autofill:focus,
    .custom-autofill:-webkit-autofill:active {
        color : rgb(186 230 253 / var(--tw-text-opacity)) !important;
        -webkit-text-fill-color: rgb(186 230 253 / var(--tw-text-opacity)) !important;
        -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
        -webkit-background-clip: text !important;
        background-clip: text !important;
    }

    .indicator::before {
        content: '';
        position: absolute;
        top: -1rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        background-color: transparent !important;
        border-bottom-right-radius: 0.75rem;
        box-shadow: 8px 8px 0px 8px #f0f9ff;
    }
    .indicator::after {
        content: '';
        position: absolute;
        bottom: -1rem;
        right: 0;
        width: 1rem;
        height: 1rem;
        background-color: transparent !important;
        border-top-right-radius: 0.75rem;
        box-shadow: 8px -8px 0px 8px #f0f9ff;
    }
    .indicator {
        position: relative;
        background-color: #f0f9ff;
        color: #075985;
        border-top-left-radius: 1rem;
        border-bottom-left-radius: 1rem;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .spinner {
        animation: spin 1s linear infinite;
    }
    
    @keyframes spin {
        from {
            transform: rotate(0);
        }
        to {
            transform: rotate(360deg); /* Xoay 360 độ */
        }
    }
}